*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: black;
}
p{
  font-size: 15px;

}
h5{
  font-size: 18px;
}
h3{
  font-size: 20px;
}
h1{
  font-size: 30px;
  font-weight: 700;
}
.Footer{
  min-height: 20vh;
  width: 100%;
  background: black;
}

body{
  overflow-x: hidden;
}